
__pycache__/
*.pyc
.venv/
target/
logs/
dbt_packages/
profiles.yml
.vscode/
.DS_Store
*.csv
*.json
*.parquet

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
dbt_internal_packages/
